//VARIABLE ANCHO
$dimension-completa: 100%;

//VARIABLE COLORES
$borde: 5px solid rgb(13, 42, 74);
$color-fondo: rgb(13, 42, 74, 0.712);
$radio-borde: 5%;

//VARIABLE POSICIONAMIENTO
$posicionamiento-centro: center;

//IMPORTS
//IMPORT PROPIEDADES GENERALES
@import "../sass/base/propiedades-generales";
@import "../sass/base/media-queries";
@import "../sass/layout/footer";
@import "../sass/layout/header";
@import "../sass/views/camisetas-grid";
@import "../sass/views/contact";
@import "../sass/views/hinchada";
@import "../sass/views/index";
@import "../sass/views/jugadores";
@import "../sass/views/titulos";