//VARIABLE ANCHO
$dimension-completa: 100%;

//VARIABLE COLORES
$borde: 5px solid rgb(13, 42, 74);
$color-fondo: rgb(13, 42, 74, 0.712);
$radio-borde: 5%;

//VARIABLE POSICIONAMIENTO
$posicionamiento-centro: center;

//IMPORTS
//IMPORT PROPIEDADES GENERALES
@import "./base/propiedades-generales";
@import "./base/media-queries";
@import "./layout/footer";
@import "./layout/header";
@import "./views/camisetas-grid";
@import "./views/contact";
@import "./views/hinchada";
@import "./views/index";
@import "./views/jugadores";
@import "./views/titulos";