//JUGADORES HTML
.table-responsive{
    .table{
    margin: 5vh auto;
    border: 5px solid black;
    width: 70%;
    border-radius: 0 0 20px 20px;
    tr th, td {
        border: 2px solid black;
        text-align: $posicionamiento-centro;
    }
    .encabezado{
        font-size: larger ;
        font-weight: bold;
    }
    }
}
//JUGADORES HTML